
{{define "all"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>Wishlist</title>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/tailwindcss-cdn@3.4.10/tailwindcss.js"></script>
    <script src="http://SortableJS.github.io/Sortable/Sortable.js"></script>
    <script>
        function toggleMenu() {
            var menu = document.getElementById("mobile-menu");
            menu.classList.toggle("hidden");
        }
    </script>
</head>
<body class="bg-gray-100">

    <nav class="bg-pink-700 w-full text-white py-4 relative">
        <div class="container mx-auto flex justify-between items-center">
            <!-- Left side: Welcome link -->
            <a href="/" class="px-6 font-semibold text-3xl tracking-tight text-white">Wünsche Ahoi</a>

            <!-- Right side: Dropdown menu trigger and menu -->
            <div class="relative flex-none"> <!-- Add relative to container of the button -->

                    <button id="account-menu" class="text-xl w-12 mx-4 px-3 py-2 text-purple-100 hover:text-white focus:outline-none border-purple-200 border rounded hover:border-white">
                        <svg class="fill-current h-5 w-5" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <title>Mein Konto</title>
                            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
                        </svg>
                    </button>

                <!-- Dropdown Content -->
                <div id="dropdown" class="hidden absolute right-0 mt-4 w-screen lg:w-72 text-xl text-purple-100 hover:text-white lg:text-gray-700 lg:hover:text-gray-800 font-medium bg-pink-700 lg:bg-pink-300 shadow-lg py-4 px-2 z-50"> <!-- Set w-screen for mobile -->

                    <hr class="border-purple-100 mt-0 mb-2 lg:hidden">

                    {{if not .Authenticated}}
                        <a {{if not .Authenticated}}href="/loginpage" hx-get="loginpage" hx-target="#main-content" hx-swap="innerHTML"{{end}} class="block px-4 py-2">
                            Login
                        </a>
                    {{end}}

                    {{if .Authenticated}}
                        <a href="/overview" hx-get="/overview" hx-target="#main-content" hx-swap="innerHTML" class="block px-4 py-2">Meine Wunschlisten</a>
                        <a href="/changepassword" hx-get="/changepassword" hx-target="#main-content" hx-swap="innerHTML" class="block px-4 py-2">Passwort ändern</a>
                        {{if eq .Username "Maurice"}}
                             <a href="/newuser" hx-get="/newuser" hx-target="#main-content" hx-swap="innerHTML" class="block px-4 py-2">Benutzer anlegen</a>
                        {{end}}
                        <a href="/logout" hx-get="logout" hx-target="#main-content" hx-swap="innerHTML" class="block px-4 py-2">Logout ({{.Username}})</a>
                    {{end}}
                </div>
            </div>
        </div>
    </nav>

    <div id="main-content">
        <!-- Placeholder for page-specific content like the landing-page, overview or a specific wishlist -->
        {{block "content" .}} {{end}}
        {{/*}}
            {{if .Authenticated}}
                {{template "overview" .}}
            {{else}}
                {{template "landing-page"}}
            {{end}}
        {{*/}}
    </div>

    <script>
        document.getElementById('account-menu').addEventListener('click', function () {
            var dropdown = document.getElementById('dropdown');
            dropdown.classList.toggle('hidden');
        });

        // Close dropdown when clicked outside
        window.addEventListener('click', function(e) {
            if (!document.getElementById('account-menu').contains(e.target)) {
                document.getElementById('dropdown').classList.add('hidden');
            }
        });
    </script>

</body>
</html>
{{end}}
