{{define "plus-button"}}
<div hx-target="this" hx-swap="beforebegin" class="flex justify-{{if .Side}}{{.Side}}{{else}}start{{end}} gap-2">
    <button hx-get="{{.Link}}" id="increment-btn"
        class="flex justify-center items-center w-10 h-10 rounded-full text-white focus:outline-none {{.Color}} hover:{{.ColorHighlight}}">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v12M6 12h12"></path>
        </svg>
    </button>
</div>
{{end}}

{{define "link"}}
<input type="text" id="link" name="link" value="{{.}}"
       class="p-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-300 focus:border-blue-500"
       placeholder="Enter Link">
{{end}}

{{define "wish-edit"}}
<form hx-post="/edit/{{.ID}}" hx-include="[name='wishlist-uuid']" hx-target="this" hx-swap="outerHTML" class="bg-white p-6 shadow-md rounded-lg">
    <div class="flex flex-col gap-4">

        <!-- Name Input -->
        <div class="flex flex-col">
            <label for="name" class="mb-1 text-lg font-semibold text-gray-700">Name</label>
            <input type="text" id="name" name="name" value="{{.Name}}"
                class="p-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-blue-500"
                placeholder="Enter Wish Name">
        </div>

        <!-- Description Input -->
        <div class="flex flex-col">
            <label for="description" class="mb-1 text-lg font-semibold text-gray-700">Description</label>
            <input type="text" id="description" name="description" value="{{.Description}}"
                class="p-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-blue-500"
                placeholder="Enter description">
        </div>

        <!-- Link Input -->
        <div class="grid grid-cols-1 gap-1">
            <label for="link" class="mb-1 text-lg font-semibold text-gray-700">Product Links</label>
            {{range $link := .Links}}
                {{template "link" $link}}
            {{end}}
            {{template "plus-button" (newButton "/addlink" "bg-amber-300" "bg-amber-400" "start")}}
        </div>

        <!-- Image URL Input -->
        <div class="flex flex-col">
            <label for="imageUrl" class="mb-1 text-lg font-semibold text-gray-700">Image URL</label>
            <input type="text" id="imageUrl" name="imageUrl" value="{{.ImageUrl}}"
                class="p-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-blue-500"
                placeholder="Enter image URL">
        </div>

        <!-- Active/Inactive -->
        <label class="inline-flex items-center me-5 cursor-pointer">
            <input type="checkbox" id="active" name="active" value="true" class="sr-only peer" {{if .Active}}checked{{end}}>
            <div class="relative w-11 h-6 bg-gray-200 rounded-full peer dark:bg-gray-700 peer-focus:ring-4 peer-focus:ring-green-300 dark:peer-focus:ring-green-800 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600"></div>
            <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Active</span>
        </label>

        <div class="flex justify-end gap-3">

            <!-- OK Button -->
            <button type="submit" class="px-6 py-2 bg-lime-500 hover:bg-lime-600 text-gray-700 rounded-lg font-semibold focus:outline-none focus:ring-2 focus:ring-yellow-400 focus:ring-opacity-50 shadow-md">
                OK
            </button>
            <!-- Cancel Button -->
            <button type="button" hx-get="/item/{{.ID}}" hx-include="[name='wishlist-uuid']" class="px-6 py-2 bg-gray-400 hover:bg-gray-500 text-gray-700 rounded-lg font-semibold focus:outline-none focus:ring-2 focus:ring-gray-300 focus:ring-opacity-50 shadow-md">
                Cancel
            </button>
            <!-- Delete Button - I have to use hx-put because hx-delete will not send the wishlist-uuid as a formValue... -->
            <button type="button" hx-put="/delete/{{.ID}}"
                    hx-include="[name='wishlist-uuid']"
                    hx-confirm="Are you sure you wish to delete the wish?"
                    class="px-6 py-2 bg-red-400 hover:bg-red-500 text-gray-700 rounded-lg font-semibold focus:outline-none focus:ring-2 focus:ring-gray-300 focus:ring-opacity-50 shadow-md">
                Delete
            </button>
        </div>
    </div>
</form>
{{end}}

{{define "wish-item"}}

{{$showgray :=
        or
            (and
                (not .Wish.Active)
                .IsCreator
            )
            (and
                .Wish.Reserved
                (or
                    (not .IsCreator)
                    (ne .Access 1)
                )
            )
}}
<div hx-target="this" hx-swap="outerHTML" class="break-all relative z-0 p-4 shadow-md rounded-lg flex justify-between items-start {{if $showgray}} bg-gray-200 cursor-not-allowed {{else}} bg-white {{end}}">

    <input type='hidden' name='item' value='{{.Wish.ID}}'/>

    <!-- This version shows the center square part of the image, if it has a high aspect ratio, without distortion! -->
    {{if .Wish.ImageUrl}}
        <div class="relative w-8 h-8 min-w-8 min-h-8 mr-4 overflow-hidden rounded-lg">
            <!-- Small Image Icon with Click Event -->
            <img src="{{.Wish.ImageUrl}}" alt="Icon"
                 class="w-full h-full rounded-lg object-cover cursor-pointer"
                 onclick="showOverlay(event)">
        </div>
    {{end}}

    <!-- Add a click event listener with plain JS to toggle the hidden class -->
    <div onclick="toggleDetails(this)" class="flex flex-col items-start {{if $showgray}} opacity-50 {{end}} flex-grow pr-5 pl-2">
        <div class="whitespace-normal font-bold">
            {{.Wish.Name}}
        </div>

        <!-- This details section will be shown/hidden on click -->
        <div class="details hidden">
            <div class="whitespace-normal font-light">
                {{.Wish.Description}}
            </div>
            <div class="whitespace-normal font-light grid grid-cols-1">
                {{range $wish := .Wish.Links}}
                    <a href="{{$wish}}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">{{$wish}}</a>
                {{end}}
            </div>
        </div>

        <!-- This "Description Replacement" section will be visible when .details is hidden -->
        <div class="description-placeholder flex">
            <div class="whitespace-normal font-light">
                {{if le (len .Wish.Description) 50}} {{.Wish.Description}} {{else}} {{slice .Wish.Description 0 50}}... {{end}}
                {{if or (gt (len .Wish.Description) 50) .Wish.Links}}
                    <span class="font-bold text-blue-500"> [...]</span>
                {{end}}
            </div>
        </div>
    </div>

    <!-- Buttons remain next to each other using flex and space-x-2 -->
    <div class="flex space-x-2 flex-shrink-0">
        {{if .IsCreator}}
            <button class="sorthandle flex justify-center items-center w-6 h-8 bg-blue-200 hover:bg-blue-300 text-white rounded">
                <!-- Sort Icon -->
                <svg class="w-5 h-5 text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
                    <path stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 20V10m0 10-3-3m3 3 3-3m5-13v10m0-10 3 3m-3-3-3 3"/>
                </svg>
            </button>
            <button hx-get="/edit/{{.Wish.ID}}" hx-include="[name='wishlist-uuid']" class="px-3 py-1 w-12 bg-amber-300 text-white rounded hover:bg-amber-400">
                <!-- Edit -->
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"/>
                </svg>
            </button>
        {{end}}
        <!-- The creator can see the reserve button only, if .Access is not set to AccessPublic -->
        {{if or (not .IsCreator) (ne .Access 1)}}
            <button hx-get="/reserve/{{.Wish.ID}}" hx-vals='{"reserve": {{if .Wish.Reserved}} false {{else}} true {{end}}}' hx-include="[name='wishlist-uuid']" class="px-3 py-1 w-12 bg-lime-500 hover:bg-lime-600 text-white rounded">
                {{if .Wish.Reserved}}
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7H7.312"/>
                    </svg>
                {{else}}
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7h-1M8 7h-.688M13 5v4m-2-2h4"/>
                    </svg>
                {{end}}
            </button>
        {{end}}
    </div>

    <!-- Green reserved icon on the top left -->
    {{if and .Wish.Reserved (or (not .IsCreator) (ne .Access 1))}}
        <div class="absolute inset-y-0 left-0 z-10">
            <button>
                <svg class="w-6 h-6 text-gray-800 dark:text-white fill-lime-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm13.707-1.293a1 1 0 0 0-1.414-1.414L11 12.586l-1.793-1.793a1 1 0 0 0-1.414 1.414l2.5 2.5a1 1 0 0 0 1.414 0l4-4Z" clip-rule="evenodd"/>
                </svg>
            </button>
        </div>
    {{end}}
    <!-- Pink/Red inactive icon on the top left -->
    {{if and (not .Wish.Active) .IsCreator}}
        <div class="absolute inset-y-0 left-0 z-10">
            <button>
                <svg class="w-6 h-6 text-gray-800 dark:text-white fill-pink-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7.757 12h8.486M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                </svg>
            </button>
        </div>
    {{end}}

</div>
{{end}}
