

<div hx-target="this" hx-swap="outerHTML" class="p-4 shadow-md rounded-lg flex justify-between items-center {{if .Todo.IsDone}} bg-gray-200 cursor-not-allowed {{else}} bg-white {{end}}">
    <div class="flex items-center {{if .Todo.IsDone}} opacity-50 {{end}}">
        <img src="{{.Todo.ImageUrl}}" alt="icon" class="w-8 h-8 mr-4">
        {{.Todo.Name}}
    </div>
    <div class="flex space-x-2">
        <button {{if .Todo.IsDone}} disabled {{else}} hx-get="/edit/{{.Index}}" {{end}} class="px-3 py-1 bg-yellow-500 text-white rounded hover:bg-yellow-600 {{if .Todo.IsDone}} opacity-50 cursor-not-allowed {{end}}">
            Click To Edit
        </button>
        <button hx-get="/reserve/{{.Index}}" class="px-3 py-1 bg-blue-500 text-white rounded hover:bg-yellow-600">
            {{if .Todo.IsDone}} Unreserve {{else}} Reserve {{end}}
        </button>
    </div>
</div>
