
{{define "wishlist-title"}}
    <div hx-target="this" hx-swap="outerHTML" class="flex items-center px-4 h-20">
        <div class="flex-1">
            <h1 class="text-3xl font-bold mb-4 py-6">{{.Title}}</h1>
        </div>

        {{if .IsCreator}}
            <button hx-get="/editwishlist/{{.UUID}}" class="flex-none w-12 h-8 px-3 text-white rounded hover:bg-amber-400">
                <!-- Edit -->
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"/>
                </svg>
            </button>
        {{end}}
    </div>
{{end}}

{{define "wishlist-edit"}}
<form hx-post="/editwishlist/{{.UUID}}/done" hx-target="this" hx-swap="outerHTML" class="bg-white p-6 shadow-md rounded-lg">
    <div class="flex flex-col gap-4">

        <!-- Name Input -->
        <div class="flex flex-col">
            <label for="name" class="mb-1 text-lg font-semibold text-gray-700">Name</label>
            <input type="text" id="name" name="name" value="{{.Title}}"
                class="p-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-blue-500"
                placeholder="Enter Wishlist Name">
        </div>

        <div class="border border-gray-200 rounded-lg p-4">
            <h3 class="mb-2">Zugriff</h3>
            <div class="flex items-center mb-2">
                <input {{if eq .Access 0}}checked{{end}} id="access-1" type="radio" value="secret" name="access" class="w-4 h-4 text-pink-700 bg-gray-100 border-gray-300">
                <label for="access-1" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                    <span class="font-semibold text-gray-800">Geheim</span>
                    <span class="ml-3 text-gray-500/75">(Nur du kannst Wünsche reservieren und die Wunschliste einsehen)</span>
                </label>
            </div>
            <div class="flex items-center mb-2">
                <input {{if eq .Access 1}}checked{{end}} id="access-2" type="radio" value="public" name="access" class="w-4 h-4 text-pink-700 bg-gray-100 border-gray-300">
                <label for="access-2" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                    <span class="font-semibold text-gray-800">Öffentlich</span>
                    <span class="ml-3 text-gray-500/75">(Nur andere können Wünsche reservieren. Du kannst Reservierungen nicht sehen!)</span>
                </label>
            </div>
            <div class="flex items-center">
                <input {{if eq .Access 2}}checked{{end}} id="access-3" type="radio" value="shared" name="access" class="w-4 h-4 text-pink-700 bg-gray-100 border-gray-300">
                <label for="access-3" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                    <span class="font-semibold text-gray-800">Gemeinsam</span>
                    <span class="ml-3 text-gray-500/75">(Du und andere können Wünsche reservieren und einsehen)</span>
                </label>
            </div>
        </div>

        <div class="flex justify-end gap-3">
            <!-- OK Button -->
            <button type="submit" class="px-6 py-2 bg-lime-500 hover:bg-lime-600 text-gray-700 rounded-lg font-semibold focus:outline-none focus:ring-2 focus:ring-yellow-400 focus:ring-opacity-50 shadow-md">
                OK
            </button>
            <!-- Cancel Button -->
            <button type="button" hx-get="/wishlisttitle/{{.UUID}}" class="px-6 py-2 bg-gray-400 hover:bg-gray-500 text-gray-700 rounded-lg font-semibold focus:outline-none focus:ring-2 focus:ring-gray-300 focus:ring-opacity-50 shadow-md">
                Cancel
            </button>
            <!-- Delete Button - I have to use hx-put because hx-delete will not send the wishlist-uuid as a formValue... -->
            <button type="button" hx-put="/deletewishlist/{{.UUID}}"
                    hx-confirm="Are you sure you wish to delete the wishlist?"
                    class="px-6 py-2 bg-red-400 hover:bg-red-500 text-gray-700 rounded-lg font-semibold focus:outline-none focus:ring-2 focus:ring-gray-300 focus:ring-opacity-50 shadow-md">
                Delete
            </button>
        </div>
    </div>
</form>
{{end}}

{{define "content"}}
<div class="container mx-auto p-4">
    {{if not .IsCreator}}
        <h2 class="text-xl mb-4 py-2">(Ersteller der Wunschliste: {{.Creator}})</h2>
    {{end}}

    <div class="py-4">
        {{template "wishlist-title" .}}
    </div>

    <div class="grid grid-cols-1 gap-4">
        {{$iscreator := .IsCreator}}
        {{$access := .Access}}
        {{range $id, $wish := .Wishes}}
            {{if or $iscreator .Active}}
                {{template "wish-item" (.BundleID $id $iscreator $access)}}
            {{end}}
        {{end}}
        <input name="wishlist-uuid" value="{{.UUID}}" class="hidden">
        {{if .IsCreator}}
            {{template "plus-button" (newButton "/new" "bg-blue-400" "bg-blue-500" "end")}}
        {{end}}
    </div>
    {{if and .IsCreator (ne .Access 0)}}
        <div class="max-w-lg mx-auto bg-white shadow-md rounded-lg p-6 mt-6">
            <!-- Description -->
            <h2 class="text-xl font-semibold text-gray-800 mb-4">Zum Teilen für Freunde und Familie</h2>

            <!-- URL Card -->
            <div class="flex items-center space-x-4">
                <!-- URL Display Field -->
                <input type="text" id="wishlist-url"
                       class="flex-grow px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-transparent"
                       readonly />

                <!-- Copy Button -->
                <button id="copy-button" class="px-4 py-2 bg-blue-400 hover:bg-blue-500 text-white font-semibold rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-opacity-50">
                    Kopieren
                </button>
            </div>
        </div>
    {{end}}
</div>
{{if and .IsCreator (ne .Access 0)}}
    <script>
        // Automatically fill the input field with the current URL
        let currentUrl = window.location.href;
        // Check if the current URL already ends with the UUID
        if (!currentUrl.endsWith("{{.UUID}}")) {
            currentUrl += "{{.UUID}}";
        }
        document.getElementById("wishlist-url").value = currentUrl;

        // Add event listener to copy the URL to the clipboard
        document.getElementById("copy-button").addEventListener("click", function() {
            // Select the URL field
            var urlField = document.getElementById("wishlist-url");
            urlField.select();
            urlField.setSelectionRange(0, 99999); // For mobile devices

            // Copy the text inside the input field
            document.execCommand("copy");
        });
    </script>
{{end}}
{{end}}
